<!DOCTYPE html>
<html>
<head>
    <title>All Expenses</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>All Expenses</h1>

<a href="/trip/new">Create Group Trip</a>

<hr>
<h2>Group Trips</h2>

<ul>

<% trips.forEach(trip => { %>

<li>

<a href="/trip/<%= trip._id %>">

<strong><%= trip.tripName %></strong>

</a>

| Members: <%= trip.members %>

| Total: ₹<%= trip.total %>

| Each Pays: ₹<%= trip.split %>


<!-- DELETE TRIP -->
<form action="/trip/delete/<%= trip._id %>" method="POST" style="display:inline;">

<button>Delete</button>

</form>

</li>

<% }) %>

</ul>

<hr>



<h2>Normal Expenses</h2>

<ul>

<% expenses.forEach(exp => { %>

<li>

<%= exp.title %>

₹<%= exp.amount %>

Members: <%= exp.members %>

Each: ₹<%= exp.split %>

<a href="/edit/<%= exp._id %>">Edit</a>

<form action="/delete/<%= exp._id %>" method="POST">

<button>Delete</button>

</form>

</li>

<% }) %>

</ul>

<a href="/add">Add Expense</a>
</body>
</html>