<!DOCTYPE html>
<html>
<head>
    <title>All Expenses</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All Expenses</h1>

    <a href="/trip/new">Create Group Trip</a>

    <ul>
        <% expenses.forEach(exp => { %>
           <li>

          <strong><%= exp.title %></strong>

         Total: ₹<%= exp.amount %>

         Members: <%= exp.members %>

         Each Pays: ₹<%= exp.split %>

          Category: <%= exp.category %>


    <!-- DELETE -->
    <form action="/delete/<%= exp._id %>" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
    </form>

    <!-- EDIT -->
    <a href="/edit/<%= exp._id %>">Edit</a>
</li>
        <% }) %>
    </ul>

    <br>
    <a href="/add">Add New Expense</a>
</body>
</html>