<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1><%= trip.tripName %></h1>

    <a href="/expenses">⬅ Back to Main Page</a>

Members: <%= trip.members %>

<h3>Total: ₹<%= trip.total %></h3>

<h3>Each Pays: ₹<%= trip.split %></h3>

<hr>

<h2>Add Expense</h2>

<link rel="stylesheet" href="/style.css">

<form action="/trip/<%= trip._id %>/add-expense" method="POST">

<input name="title" placeholder="Expense name" required>

<input name="amount" type="number" placeholder="Amount" required>

<button>Add</button>

</form>

<hr>

<h2>Expenses</h2>

<ul>

<% trip.expenses.forEach((e,index) => { %>

<li>

<%= e.title %> ₹<%= e.amount %>

<!-- EDIT expense -->
<a href="/trip/<%= trip._id %>/edit-expense/<%= index %>">
Edit
</a>

</li>

<% }) %>

</ul>
</body>
</html>